<h2>Person Detail</h2>
<h3><i>Form group</i></h3>
<form [formGroup]="personForm" novalidate>
  <div class="form-group">
    <label class="center-block">Name:
      <input class="form-control" formControlName="name">
    </label>
    <div formGroupName="birthday" class="well well-lg">
      <h4>Birthday</h4>
      <div class="form-group">
        <input class="form-control" formControlName="year">
      </div>
      <div class="form-group">
        <select class="form-control" formControlName="month">
          <option *ngFor="let m of months; let i = index;" [ngValue]="i">{{m}}</option>>
        </select>
      </div>
      <div class="form-group">
        <select class="form-control" formControlName="day">
          <option *ngFor="let d of days" [ngValue]="d">{{d}}</option>
        </select>
      </div>
    </div>
    <p>Form value: {{ personForm.value | json }}</p>
    <p>Form status: {{ personForm.status | json }}</p>
  </div>
</form>
